@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Karla', sans-serif;
}

:root {
    --bgcolor: lightblue;
    --accentcolor: orange;
}

body {
    background-color: var(--bgcolor);
}

.link-tree {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin: 40px auto;
    gap: 20px;
}

.link-tree img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.link-tree h1 {
    font-size: 2.5rem;
}

.link-tree a {
    background-color: var(--accentcolor);
    color: black;
    width: 100%;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    border: solid 2px var(--accentcolor);
    transition: all 0.5s linear;
}

.link-tree a:hover {
    background-color: var(--bgcolor);
    color: var(--accentcolor);
}

@media (min-width: 1024px) {
    .link-tree {
        width: 40vw;
    }
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
    gap: 20px;
}

.flip-card-inner {
    margin: 50px auto;
    position: relative;
    width: 100%;
    height: 100%;
    
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}